% Test function for simulink models for 
% %RN%

% %VERSIONINFO%

% Moritz Schappler, schappler@irt.uni-hannover.de, 2016-05
% (C) Institut für Regelungstechnik, Universität Hannover

clc
clear

%RN%_fdyn_fixb_test_mp_start
%RN%_fdyn_fixb_test_vp1_start
%RN%_fdyn_floatb_eulxyz_test_vp1_start
%RN%_fdyn_floatb_eulxyz_test_mp_start
%RN%_simulink_kinematics_block_test_start
