% Teste parameterlineare Formen der Dynamik (Floating Base)

% %VERSIONINFO%

% Moritz Schappler, schappler@irt.uni-hannover.de, 2016-03
% (c) Institut für Regelungstechnik, Universität Hannover

clc
clear

NQJ = %NQJ%;
NJ = %NJ%;
NL = %NL%;
robot_name = '%RN%';

% Prüfe, ob kinematische Zwangsbedingungen vorliegen.
% Dann entfallen alle folgenden Tests (noch nicht implementiert)
if NJ ~= NQJ
  KINCONSTR = true;
  fprintf('Tests entfallen aufgrund der Existenz kinematischer Zwangsbedingungen\n');
  return
end

%% Parameter
%RN%_varpar_testfunctions_parameter

% Minimalparametervektor
MPV = %RN%_convert_par2_MPV_floatb_eulangrpy(pkin, ...
  m, mrSges, Ifges);

% Vektor mit Inertialparametern
PV2floatb = NaN(10*NL,1);
for i = 1:NL
  % different order:
  % Ifges_num_mdh: XX,YY,ZZ,XY,XZ,YZ
  % PV2floatb: XX,XY,XZ,YY,YZ,ZZ
  PV2floatb((1:6) +10*(i-1)) = Ifges(i,[1,4,5,2,6,3]);
  PV2floatb((1:3) +10*(i-1)+6) = mrSges(i,:);
  PV2floatb(10*i) = m(i);
end

PV2_Names = cell(10*NL,1);
for i = 1:NL
  PV2_Names{10*(i-1)+ 1} = sprintf('XX%d',i-1);
  PV2_Names{10*(i-1)+ 2} = sprintf('XY%d',i-1);
  PV2_Names{10*(i-1)+ 3} = sprintf('XZ%d',i-1);
  PV2_Names{10*(i-1)+ 4} = sprintf('YY%d',i-1);
  PV2_Names{10*(i-1)+ 5} = sprintf('YZ%d',i-1);
  PV2_Names{10*(i-1)+ 6} = sprintf('ZZ%d',i-1);
  PV2_Names{10*(i-1)+ 7} = sprintf('MX%d',i-1);
  PV2_Names{10*(i-1)+ 8} = sprintf('MY%d',i-1);
  PV2_Names{10*(i-1)+ 9} = sprintf('MZ%d',i-1);
  PV2_Names{10*(i-1)+10} = sprintf('M%d', i-1);
end
%% Test kinetic Energy
for i = 1:n
  ob = OB(i,:)';
  q = Q(i,:)';
  qD = QD(i,:)';
  oDb = OBD(i,:)';
  V_W_W_0 = VB(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  % calculate kinetic energy with optimized function
  T_func = %RN%_energykin_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB, ...
    pkin, m, rSges, Icges);
  % calculate kinetic energy with minimal parameter regressor
  t_regmin = %RN%_energykin_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB, ...
    pkin);
  T_mpv = t_regmin*MPV;
  if abs(T_mpv-T_func) > 1e-12
    error('Kinetic Energy from base parameter vector does not match with direct form.');
  end
  
  t_reg2 = %RN%_energykin_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB, ...
    pkin);
  T_PV2 = t_reg2*PV2floatb;
  if abs(T_PV2-T_func) > 1e-12
    error('Kinetic Energy from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested kinetic energy for %d random joint angles for %s\n', ...
  n, robot_name);

%% Test Potential Energy
% Die potentielle Energie hat aufgrund des wegstreichens von Parametern
% einen unterschiedlichen statischen Anteil bei der Minimalparameterform
for i = 1:n
  r_W_W_0 = RB(i,:)';
  ob = OB(i,:)';
  q = Q(i,:)';
  g_world = G(i,:)';
  R_W_0 = rpy2r(ob(1), ob(2), ob(3));
  g_base = (R_W_0')*g_world;
  % calculate potential energy with optimized function
  U_func = %RN%_energypot_floatb_eulangrpy_slag_vp1(q, r_W_W_0, ob, g_world, ...
    pkin, m, rSges);
  U_func0 = %RN%_energypot_floatb_eulangrpy_slag_vp1(zeros(NQJ,1), r_W_W_0, ob, g_world, ...
    pkin, m, rSges);
  
  % calculate potential energy with minimal regressor
  u_regmin = %RN%_energypot_floatb_eulangrpy_regmin_slag_vp(q, r_W_W_0, ob, g_world, ...
    pkin);
  u_regmin0 = %RN%_energypot_floatb_eulangrpy_regmin_slag_vp(zeros(NQJ,1), r_W_W_0, ob, g_world, ...
    pkin);
  U_mpv = u_regmin*MPV;
  U_mpv0 = u_regmin0*MPV;
  if abs((U_mpv-U_mpv0)-(U_func-U_func0)) > 1e-12
    error('Potential Energy from base parameter vector does not match with direct form.');
  end
  
  % calculate potential energy with inertial parameters regressor
  u_reg2 = %RN%_energypot_floatb_eulangrpy_reg2_slag_vp(q, r_W_W_0, ob, g_world, ...
    pkin);
  u_reg20 = %RN%_energypot_floatb_eulangrpy_reg2_slag_vp(zeros(NQJ,1), r_W_W_0, ob, g_world, ...
    pkin);
  U_PV2 = u_reg2*PV2floatb;
  U_PV20 = u_reg20*PV2floatb;
  if abs((U_PV2-U_PV20)-(U_func-U_func0)) > 1e-12
    error('Potential Energy from inertial parameter vector does not match with direct form.');
  end  
end
fprintf('Tested potential energy for %d random joint angles for %s\n', ...
  n, robot_name);


%% Teste Gravitationsmoment
for i = 1:n
  r_W_W_0 = RB(i,:)';
  ob = OB(i,:)';
  q = Q(i,:)';
  g_world = G(i,:)';
  R_W_0 = rpy2r(ob(1), ob(2), ob(3));
  g_base = (R_W_0')*g_world;
  % calculate gravitational base load with optimized function
  tauBg_b_par1 = %RN%_gravload_base_floatb_eulangrpy_slag_vp1(q, ob, g_world, ...
    pkin, m, rSges);

  % calculate gravitational base load with base parameter regressor
  tauBg_b_regmin = %RN%_gravload_base_floatb_eulangrpy_regmin_slag_vp(q, ob, g_world, ...
    pkin);
  tauBg_b_mpv = tauBg_b_regmin*MPV;
  if any( abs(tauBg_b_mpv-tauBg_b_par1) > 1e-12 )
    error('Gravitation base wrench from base parameter vector does not match with direct form.');
  end
  
  % calculate gravitational base load with inertial parameter regressor
  tauBg_b_reg2 = %RN%_gravload_base_floatb_eulangrpy_reg2_slag_vp(q, ob, g_world, ...
    pkin);
  tauBg_b_pv2 = tauBg_b_reg2*PV2floatb;
  if any (abs(tauBg_b_pv2-tauBg_b_par1) > 1e-12 )
    error('Gravitation base wrench from inertial parameter vector does not match with direct form.');
  end
end

fprintf('Tested floating base gravitation base wrench for %d random joint angles for %s\n', ...
  n, robot_name);




%% Teste Massenmatrix (Gesamt)
for i = 1:n
  ob = OB(i,:)';
  q = Q(i,:)';
  % calculate inertia with optimized function
  M_func = %RN%_inertia_floatb_eulangrpy_slag_vp1(q, ob, ...
    pkin, m, rSges, Icges);
  % calculate inertia with base parameter regressor       
  M_regmin = %RN%_inertia_floatb_eulangrpy_regmin_slag_vp(q, ob, ...
    pkin);
  M_mpv_vec = M_regmin*MPV;
  M_mpv = vec2symmat(M_mpv_vec);
  if any( abs(M_func(:)-M_mpv(:)) > 1e-12 )
    error('Floating Base inertia matrix from base parameter vector does not match with direct form.');
  end
  % calculate inertia with inertial parameter regressor
  M_reg2 = %RN%_inertia_floatb_eulangrpy_reg2_slag_vp(q, ob, ...
    pkin);
  M_pv2_vec = M_reg2*PV2floatb;
  M_pv2 = vec2symmat(M_mpv_vec);
  if any( abs(M_func(:)-M_pv2(:)) > 1e-12 )
    error('Floating Base inertia matrix from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Floating Base inertia matrix for %d random joint angles for %s\n', ...
  n, robot_name);

%% Teste Massenmatrix (Basis-Gelenke)
for i = 1:n
  ob = OB(i,:)';
  q = Q(i,:)';
  % calculate inertia with optimized function
  Mqb_func = %RN%_inertia_joint_base_floatb_eulangrpy_slag_vp1(q, ob, ...
    pkin, m, rSges, Icges);
  % calculate inertia with base parameter regressor       
  Mqb_regmin = %RN%_inertia_joint_base_floatb_eulangrpy_regmin_slag_vp(q, ob, ...
    pkin);
  Mqb_mpv_vec = Mqb_regmin*MPV;
  Mqb_mpv = reshape(Mqb_mpv_vec, 6, NQJ)';
  if any( abs(Mqb_func(:)-Mqb_mpv(:)) > 1e-12 )
    error('Floating Base inertia matrix from base parameter vector does not match with direct form.');
  end
  % calculate inertia with inertial parameter regressor
  Mqb_reg2 = %RN%_inertia_joint_base_floatb_eulangrpy_reg2_slag_vp(q, ob, ...
    pkin);
  Mqb_pv2_vec = Mqb_reg2*PV2floatb;
  Mqb_pv2 = reshape(Mqb_pv2_vec, 6, NQJ)';
  if any( abs(Mqb_func(:)-Mqb_pv2(:)) > 1e-12 )
    error('Floating Base inertia matrix from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Floating Base inertia matrix for %d random joint angles for %s\n', ...
  n, robot_name);



%% Teste Massenmatrix-Zeitableitung (Floating-Base Gesamt)
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  
  % calculate inertia time derivative with optimized function
  MqD_func = %RN%_inertiaD_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB, ...
    pkin, m, rSges, Icges);
  % calculate inertia time derivative with base parameter regressor
  MqD_regmin = %RN%_inertiaD_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB, ...
    pkin);
  MqD_mpv_vec = MqD_regmin*MPV;
  MqD_mpv = vec2symmat(MqD_mpv_vec);
  if any( abs(MqD_func(:)-MqD_mpv(:)) > 1e-12 )
    error('Floating Base inertia matrix time derivative from base parameter vector does not match with direct form.');
  end
  % calculate inertia time derivative with inertial parameter regressor
  MqD_reg2 = %RN%_inertiaD_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB, ...
    pkin);
  MqD_pv2_vec = MqD_reg2*PV2floatb;
  MqD_pv2 = vec2symmat(MqD_pv2_vec);
  if any( abs(MqD_func(:)-MqD_pv2(:)) > 1e-12 )
    error('Floating Base inertia matrix time derivative from inertial parameter vector does not match with direct form.');
  end  
end
fprintf('Tested Floating Base inertia matrix time derivative for %d random joint angles for %s\n', ...
  n, robot_name);

%% Teste Coriolis-Vektor (Floating Base Gesamt)
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  
  % calculate coriolis torques with optimized function
  tauc_func = %RN%_coriolisvec_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB,...
    pkin, m, rSges, Icges);
  
  % calculate coriolis torques with base parameter regressor
  tauc_regmin = %RN%_coriolisvec_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauc_mpv = tauc_regmin*MPV;
  if any (abs(tauc_mpv-tauc_func) > 1e-12 )
    error('Coriolis generalized force from base parameter vector does not match with direct form.');
  end
  
  % calculate coriolis torques with inertial parameter regressor
  tauc_reg2 = %RN%_coriolisvec_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauc_pv2 = tauc_reg2*PV2floatb;
  if any( abs(tauc_pv2-tauc_func) > 1e-12 )
    error('Coriolis generalized force from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Floating Base Coriolis vector for %d random joint angles for %s\n', ...
  n, robot_name);


%% Teste Coriolis-Vektor (Floating Base: Gelenke)
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  
  % calculate coriolis torques with optimized function
  tauJc_func = %RN%_coriolisvec_joint_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB,...
    pkin, m, rSges, Icges);
  
  % calculate coriolis torques with base parameter regressor
  tauJc_regmin = %RN%_coriolisvec_joint_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauJc_mpv = tauJc_regmin*MPV;
  if any (abs(tauJc_mpv-tauJc_func) > 1e-12 )
    error('Coriolis joint torque from base parameter vector does not match with direct form.');
  end
  
  % calculate coriolis torques with inertial parameter regressor
  tauJc_reg2 = %RN%_coriolisvec_joint_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauJc_pv2 = tauJc_reg2*PV2floatb;
  if any( abs(tauJc_pv2-tauJc_func) > 1e-12 )
    error('Coriolis joint torque from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Floating Base Coriolis joint torque vector for %d random joint angles for %s\n', ...
  n, robot_name);


%% Teste Coriolis-Vektor (Floating Base: Basis)
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  
  % calculate coriolis torques with optimized function
  tauBc_func = %RN%_coriolisvec_base_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB,...
    pkin, m, rSges, Icges);
  
  % calculate coriolis torques with base parameter regressor
  tauBc_regmin = %RN%_coriolisvec_base_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauBc_mpv = tauBc_regmin*MPV;
  if any (abs(tauBc_mpv-tauBc_func) > 1e-12 )
    error('Coriolis base wrench from base parameter vector does not match with direct form.');
  end
  
  % calculate coriolis torques with inertial parameter regressor
  tauBc_reg2 = %RN%_coriolisvec_base_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB,...
    pkin);
  tauBc_pv2 = tauBc_reg2*PV2floatb;
  if any( abs(tauBc_pv2-tauBc_func) > 1e-12 )
    error('Coriolis base wrench from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Floating Base Coriolis base wrench vector for %d random joint angles for %s\n', ...
  n, robot_name);



%% Teste Coriolis-Matrix
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  
  % calculate Coriolis-Matrix with optimized function
  Cq_func = %RN%_coriolismat_floatb_eulangrpy_slag_vp1(q, qD, ob, xDB, ...
    pkin, m, rSges, Icges);
  % calculate Coriolis-Matrix with base parameter regressor
  Cq_regmin = %RN%_coriolismat_floatb_eulangrpy_regmin_slag_vp(q, qD, ob, xDB, ...
    pkin);
  Cq_mpv_vec = Cq_regmin*MPV;
  Cq_mpv = reshape(Cq_mpv_vec, 6+NQJ, 6+NQJ)';
  if any( abs(Cq_func(:)-Cq_mpv(:)) > 1e-12 )
    error('Coriolis matrix from base parameter vector does not match with direct form.');
  end
  
  % calculate Coriolis-Matrix with inertial parameter regressor
  Cq_reg2 = %RN%_coriolismat_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB, ...
    pkin);
  Cq_pv2_vec = Cq_reg2*PV2floatb;
  Cq_pv2 = reshape(Cq_pv2_vec, 6+NQJ, 6+NQJ)';
  if any( abs(Cq_func(:)-Cq_pv2(:)) > 1e-12 )
    error('Coriolis matrix from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested Coriolis matrix for %d random joint angles for %s\n', ...
  n, robot_name);



%% Teste inverse Dynamik
for i = 1:n
  q = Q(i,:)';
  qD = QD(i,:)';
  qDD = QDD(i,:)';
  g_world = G(i,:)';
  V_W_W_0 = VB(i,:)';
  A_W_W_0 = AB(i,:)';
  
  ob = OB(i,:)';
  oDb = OBD(i,:)';
  oDDb = OBDD(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  xDDB = [A_W_W_0(1:3); oDDb];

  % calculate inverse dynamics with optimized function
  tauJ_func = %RN%_invdyn_joint_floatb_eulangrpy_slag_vp1(q, qD, qDD, ob, xDB, xDDB, g_world, ...
    pkin, m, rSges, Icges);
  % calculate inverse dynamics with base parameter regressor
  tauJ_regmin = %RN%_invdyn_joint_floatb_eulangrpy_regmin_slag_vp(q, qD, qDD, ob, xDB, xDDB, g_world, ...
    pkin);
  tauJ_mpv = tauJ_regmin*MPV;
  if any( abs(tauJ_func-tauJ_mpv) > 1e-12 )
    error('Inverse dynamics from base parameter vector does not match with direct form.');
  end
  % calculate inverse dynamics with inertial parameter regressor
  tauJ_reg2 = %RN%_invdyn_joint_floatb_eulangrpy_reg2_slag_vp(q, qD, qDD, ob, xDB, xDDB, g_world, ...
    pkin);
  tauJ_pv2 = tauJ_reg2*PV2floatb;
  if any( abs(tauJ_func-tauJ_pv2) > 1e-12 )
    error('Inverse dynamics from inertial parameter vector does not match with direct form.');
  end
end
fprintf('Tested floating base joint inverse dynamics for %d random joint angles for %s\n', ...
  n, robot_name);


%% Prüfe Minimalparametervektor gegen Matrix mit Inertialparameterzuordnung
% [Sousa2014] Gl. (38)
[K, K_d, P_b, P_d] = %RN%_PV2_MPV_transformations_floatb_eulangrpy(pkin);
                
MPV_test = K*PV2floatb;
test = MPV - MPV_test;
if any(abs(test(:)) > 1e-10)
  error('Minimalparametervektor stimmt nicht mit MPV aus Inertialparametermatrix überein');
end
% MPV-Transformationsmatrix aus Teilmatrizen aus [Sousa2014] aufbauen und testen
K_test = (P_b' + K_d*P_d'); % [Sousa2014] Gl. (39)
Test = abs(K-K_test);
if any(Test(:)>1e-12)
  error('Test [Sousa2014] Gl. (38) fehlgeschlagen!');
end
fprintf('Transformationen des floating base-Minimalparametervektors erfolgreich getestet\n');

%% Teste Minimalparameterform gegen numerische Berechnung nach [Gautier1990]
% Matrix mit Samples der Regressormatrix erstellen ([Gautier1990], Gl. (8))
% Zufällige Werte, nach [Gautier1990], Kap. 5-1-1
c = length(PV2floatb);
W_g = NaN(n, c); % Informationsmatrix des Inertialparameter-Regressors. Zum Testen des Rangs
for i = 1:n
  r_W_W_0 = RB(i,:)';
  ob = OB(i,:)';
  q = Q(i,:)';
  qD = QD(i,:)';
  oDb = OBD(i,:)';
  V_W_W_0 = VB(i,:)';
  xDB = [V_W_W_0(1:3); oDb];
  g_world = G(i,:)';
  % [Gautier1990] Gl. (7)
  t_reg2 = %RN%_energykin_floatb_eulangrpy_reg2_slag_vp(q, qD, ob, xDB, ...
    pkin);
  u_reg2 = %RN%_energypot_floatb_eulangrpy_reg2_slag_vp(q, r_W_W_0, ob, g_world, ...
    pkin);
  % [Gautier1990] Gl. (8)
  W_g(i,:) = t_reg2+u_reg2;
end
% Struktur mit Eingabedaten für Algorithmus generieren
% [Ksym, K_dsym, P1sym, P2sym] = %RN%_PV2_MPV_transformations_fixb(pkin);
b = 24;
[Ksym, K_dsym, P1sym, P2sym] = %RN%_PV2_MPV_transformations_floatb_eulangrpy(pkin);
% Ksym = NaN(b,c);K_dsym=NaN(b,c-b);P1sym=NaN(c,b);P2sym=NaN(c,c-b);
plin_num_test_struct = struct('W', W_g, 'PV2', PV2floatb, 'MPV', MPV, ...
  'P1sym', P1sym, 'P2sym', P2sym, 'K_dsym', K_dsym, 'Ksym', Ksym, ...
  'NQ', NQJ, 'PV2_Names', {PV2_Names});
% Aufruf des Test-Algorithmus als Funktion (der Test kann genauso für
% Floating Base durchgeführt werden und wird deshalb ausgelagert. Die
% Übergabeargumente unterscheiden sich nur minimal)
robot_paramlin_test_reg_num(plin_num_test_struct);

fprintf('Symbolisch berechnete Minimalparameterform gegen numerische Form geprüft\n');
