
%% Function calls and calculation
g = %RN%_gravloadJ_floatb_twist_slag_vp2(qJ, g, ...
  pkin, m, mrSges);
c = %RN%_coriolisvecJ_fixb_slag_vp2(qJ, qJD, ...
  pkin, m, mrSges, Ifges);
M = %RN%_inertiaJ_slag_vp2(qJ, ...
    pkin, m, mrSges, Ifges);
tau = g+c+M*qJDD;

