% Teste parameterlineare Formen der Dynamik für parallele Roboter

% %VERSIONINFO%

% Tim Job (Studienarbeit bei Moritz Schappler), 2018-12
% Moritz Schappler, schappler@irt.uni-hannover.de
% (C) Institut für Mechatronische Systeme, Universität Hannover

clc
clear

NQJ = %NQJ_P%;
N_LEGS = %N_LEGS%; % number of legs
N_XP = %N_XP%; % number of platform DOF
robot_name = '%RN%';

%% Parameter
TSS = %RN%_varpar_testfunctions_parameter_par();
for f = fields(TSS)'
  eval(sprintf('%s=TSS.%s;',f{1},f{1}));
end

% Minimalparametervektor
MPV = %RN%_minimal_parameter_para(pkin, m, mrSges, Ifges, koppelP);

%% Test inverse dynamic vs regressor form
Q_GES = length(Q(1,:));
Q_N = Q_GES/NQJ;
for i = 1:n
  q = [];
  for j = 1:Q_N
    q = [q;Q(1,(j-1)*NQJ+1:j*NQJ)]; %#ok<AGROW>
  end
  q = q';
  xP = XP(i,:)';
  xPD = XPD(i,:)';
  xPDD = XPDD(i,:)';
  g = G(i,:)';
  
  Jinv = %RN%_Jinv(xP, q, pkin, koppelP, ...
    legFrame);
  %% Dynamik in Plattform-Koordinaten
  tauX_vp2 = %RN%_invdyn_para_pf_slag_vp2(xP, xPD, xPDD, q, g, legFrame, ...
    koppelP, pkin, m, mrSges, Ifges);
  tauX_reg = %RN%_invdyn_para_pf_reg(xP, xPD, xPDD, q, g, legFrame, ...
    koppelP, pkin);
  tauX_MPV = tauX_reg*MPV;
  DeltaX = tauX_MPV - tauX_vp2;
  if any(abs(DeltaX) > 1e6*eps(tauX_MPV))
    error('Inverse dynamics (platform coordinates) does not match with regressor form.')
  end
  
  %% Dynamik in Antriebskoordinaten
  if N_XP <= 4 && ~isempty(fileparts(which('%RN%_invdyn_para_qa_slag_vp2')))
    % nur testen, falls Funktionen auch generiert wurden.
    tauA_vp2 = %RN%_invdyn_para_qa_slag_vp2(xP, xPD, xPDD, q, g, legFrame, ...
      koppelP, pkin, m, mrSges, Ifges);
    tauA_reg = %RN%_invdyn_para_qa_reg(xP, xPD, xPDD, q, g, legFrame, ...
      koppelP, pkin);
    tauA_MPV = tauA_reg*MPV;
    DeltaA = tauA_MPV - tauA_vp2;
    if any(abs(DeltaA) > 1e6*eps(tauA_MPV))
      error('Inverse dynamics (actuation coordinates) does not match with regressor form.')
    end
  else % if N_XP > 4
    tauA_MPV = (Jinv)' \ tauX_reg;
    tauA_vp2 = (Jinv)' \ tauX_vp2;
  end
end
fprintf('Tested regressor form vs inverse dynamic for %d random joint angles for %s\n', ...
  n, robot_name);

