% Start the forward dynamics model (floating base regressor)
% * no initial velocity
% * random starting pose
% * no joint damping. Check for energy consistency

% Moritz Schappler, schappler@irt.uni-hannover.de, 2017-02
% (c) Institut für Regelungstechnik, Universität Hannover

clear
clc
close all

this_path = fileparts( mfilename('fullpath') );
if ~isempty(this_path), cd(this_path); end

%% Init
% Standard-Einstellungen laden
ParameterModus = 'mp';
%RN%_fdyn_floatb_eulangrpy_test_settings_default

% Workspace-Variable löschen, Modell darf nicht davon abhängen
clear NQJ

%% modify default settings

%% Start Simulation
t1 = tic;
simOut = sim(sl_Modellname, 'StopTime', '10', ...
  'SimulationMode', 'normal'); % normal
sl = get_simulink_outputs(simOut, sl_Modellname);
fprintf('Simulink-Modell berechnet. Rechenzeit: %1.1fs\n', toc(t1));

%% Plot
figure(1);clf;
plot(sl.t, [sl.E, sum(sl.E,2)]);
legend({'T', 'U', 'Ges'});
ylabel('Energie');
grid on;

figure(2);clf;
subplot(3,1,1);
plot(sl.t, sl.qJ);
ylabel('q');grid on;
subplot(3,1,2);
plot(sl.t, sl.qJD);
ylabel('qD');grid on;
subplot(3,1,3);
plot(sl.t, sl.qJDD);
ylabel('qDD');grid on;

figure(3);clf;
subplot(3,2,sprc2no(3,2,1,1));
plot(sl.t, sl.r_base);
ylabel('r');grid on;
subplot(3,2,sprc2no(3,2,2,1));
plot(sl.t, sl.rD_base);
ylabel('rD');grid on;
subplot(3,2,sprc2no(3,2,3,1));
plot(sl.t, sl.rDD_base);
ylabel('rDD');grid on;

subplot(3,2,sprc2no(3,2,1,2));
plot(sl.t, sl.phi_base);
ylabel('phi');grid on;
subplot(3,2,sprc2no(3,2,2,2));
plot(sl.t, sl.phiD_base);
ylabel('phiD');grid on;
subplot(3,2,sprc2no(3,2,3,2));
plot(sl.t, sl.phiDD_base);
ylabel('phiDD');grid on;

E_minmax = minmax( sum(sl.E([1,end],:), 2) );
E_diff = E_minmax(1) - E_minmax(2);
if abs(E_diff) > 1e-6
  error('Nicht energiekonsistent');
else
  fprintf('Energiekonsistent\n');
end
