# Beispiel für Codegenerierung:
# Starrkörper ohne Gelenke ("rigidbody")
#
# Quellen
# [KhalilKle1986] Khalil, W. and Kleinfinger, J.-F.: A new geometric notation for open and closed-loop robots (1986)

robot_name := "rigidbody":

NJ := 0:
qoffset := Matrix(0, 1, []):
alpha := Matrix(0, 1, []):
d := Matrix(0, 1, []):
a := Matrix(0, 1, []):
v := Matrix(0, 1, []):
b := Matrix(0, 1, []):
beta := Matrix(0, 1, []):

theta := qJ_t+qoffset:
