# Beispiel für Codegenerierung:
# Atlas Bein v4
#
# Quellen
# [KhalilKle1986] Khalil, W. and Kleinfinger, J.-F.: A new geometric notation for open and closed-loop robots (1986)

robot_name := "atlas4_leg":

NJ := 6:
NL := 7: # Anzahl der Körper: Basis und alle aktuierten Segmente
qoffset := Matrix(6,1,[(1/2)*Pi, (1/2)*Pi, qoffset3, qoffset4, 0, 0]):
alpha := Matrix(6,1,[0, (1/2)*Pi, (1/2)*Pi, 0, 0, -(1/2)*Pi]):
d := Matrix(6,1,[0, d2, d3, 0, 0, 0]):
a := Matrix(6,1,[0, 0, a3, a4, a5, 0]):
v := Matrix(6,1,[0, 1, 2, 3, 4, 5]):
b := Matrix(6,1,[0, 0, 0, 0, 0, 0]):
beta := Matrix(6,1,[0, 0, 0, 0, 0, 0]):

theta := qJ_t+qoffset:
