# Beispiel für Codegenerierung:
# Prothese 2 DOF
#
# Quellen
# [KhalilKle1986] Khalil, W. and Kleinfinger, J.-F.: A new geometric notation for open and closed-loop robots (1986)

robot_name := "prothesis_2dof":

NJ := 2:
qoffset := Matrix(2,1,[-(1/2)*Pi, 0]):
alpha := Matrix(2,1,[-(1/2)*Pi, -(1/2)*Pi]):
d := Matrix(2,1,[ 0, d2]):
a := Matrix(2,1,[0, 0]):
v := Matrix(2,1,[0, 1]):
b := Matrix(2,1,[0, 0]):
beta := Matrix(2,1,[0, 0]):

theta := qJ_t+qoffset:
