# Beispiel für Codegenerierung:
# UPS

robot_name := "S_UPS":

NJ := 6:
NQJ := 6:

qoffset := Matrix(6,1,[0,0,0,0,0,0]):
alpha := Matrix(6,1,[Pi/2, Pi/2, Pi/2, 0, Pi/2, Pi/2]):
a := Matrix(6,1,[0,0,0,0,0,0]):

d := Matrix(6,1,[0,0,qJ_t(3),0,0,0]):
theta := Matrix(6,1,[qJ_t(1), qJ_t(2),0,qJ_t(4),qJ_t(5),qJ_t(6)]):

v := Matrix(6,1,[0, 1, 2, 3, 4, 5]):
b := Matrix(6,1,[0, 0, 0, 0, 0, 0]):
beta := Matrix(6,1,[0,0,0,0,0,0]):
sigma := Matrix(6,1,[0, 0, 1, 0, 0, 0]):