# Beispiel für Codegenerierung:
# UPS

robot_name := "UPS":

NJ := 3:
NQJ := 3:

qoffset := Matrix(3,1,[0,0,0]):
alpha := Matrix(3,1,[Pi/2, Pi/2, Pi/2]):
a := Matrix(3,1,[0,0, 0]):

d := Matrix(3,1,[0,0,qJ_t(3)]):
theta := Matrix(3,1,[qJ_t(1), qJ_t(2),0]):

v := Matrix(3,1,[0, 1, 2]):
b := Matrix(3,1,[0, 0, 0]):
beta := Matrix(3,1,[0,0,0]):
sigma := Matrix(3,1,[0, 0, 1]):

### Platform

AKTIV := 3:
N_LEGS := 6:

leg_frame := Matrix([xA, yA, zA, alphaLeg, 0, 0]):
xE_s := <x_all[1];x_all[2];x_all[3];x_all[4];x_all[5];x_all[6]>:

JE := Matrix(3,3,[XX,XY,XZ,YX,YY,YZ,ZX,ZY,ZZ]):
